* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Pixel";
  src: url("../fonts/Pixel.ttf");
}

[wm-flappy] {
  position: relative;
  border: 5px solid dodgerblue;
  height: 60vh;
  max-height: 700px;
  width: 80vw;
  max-width: 1200px;
  margin: 5vh auto;
  background-color: deepskyblue;
  overflow: hidden;
}

.passaro {
  position: absolute;
  width: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.par-de-barreiras {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.barreira {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barreira .borda {
  height: 30px;
  width: 10vw;
  max-width: 130px;
  background: linear-gradient(90deg, #639301, #a5e82e);
  border: 2px solid #000;
}

.barreira .corpo {
  width: 8vw;
  max-width: 110px;
  background: linear-gradient(90deg, #639301, #a5e82e);
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}

.progresso {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: Pixel;
  font-size: 60px;
  z-index: 100;
}

.restart,
.start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 30px;
  font-size: 34px;
  font-family: Pixel, sans-serif;
  cursor: pointer;
  z-index: 9999;
  background-color: dodgerblue;
  color: white;
  border: 2px solid #000;
  border-radius: 10px;
  transition: transform 0.2s, background-color 0.2s;
  pointer-events: auto;
}

.restart {
  display: none;
}

.restart:hover,
.start:hover {
  background-color: deepskyblue;
  transform: translate(-50%, -50%) scale(1.1);
}

@media (max-width: 600px) {
  [wm-flappy] {
    height: 75vh;
    width: 95vw;
    margin: 2.5vh auto;
  }

  .barreira .borda {
    width: 18vw;
  }

  .barreira .corpo {
    width: 15vw;
  }

  .progresso {
    font-size: 12vw;
  }

  .restart,
  .start {
    font-size: 7vw;
    padding: 4vh 6vw;
  }
}
